@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #74ab88;
  color: rgb(0, 0, 0);
  flex-direction: column;
}

.main-header {
  font-family: 'Roboto Mono', monospace;
}

.create-form label{
  color: rgb(0, 0, 0) !important;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px !important;
}

.empty-list {
  font-family: 'Roboto Mono', monospace;
}